.page {
  background-color: #282c35;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  color: #fff;
}

.wrapper {
  max-width: 600px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.head img {
  height: 30px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

.setting,
fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.setting-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-box_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box_top,
.box_bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-color,
.input-file {
  cursor: pointer;
  color: #fff;
}

#select {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  color: #282c35;
}

.Arial {
  font-family: Arial, sans-serif;
}

.ComicSansMS {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.CourierNew {
  font-family: 'Courier New', Courier, monospace;
}

.Impact {
  font-family: Impact, Charcoal, sans-serif;
}

.Georgia {
  font-family: Georgia, serif;
}

.Segoe {
  font-family: 'Segoe UI', sans-serif;
}

.Verdana {
  font-family: Verdana, Geneva, sans-serif;
}

.input-text,
textarea {
  padding: 8px;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
}

.button {
  background-color: #61dafb;
  border: none;
  border-radius: 6px;
  outline: none;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  color: #282c35;
}

.image-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#canvas {
  display: none;
}

#canvas-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

#canvas-box > img {
  max-width: 100%;
}

.draggable-element {
  position: absolute;
  cursor: move;
}
